<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../components.css" />
    <link rel="stylesheet" href="../../styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Images</title>
    <link rel="icon" href="../../assets/images/patched-logo.ico" />
  </head>
  <body>
    <header class="nav-header">
      <nav class="navbar flex-row align-center g-1">
        <a
          class="logo white white-border link rounded-circle"
          href="../../index.html"
          >P</a
        >
        <a class="link white" href="../../index.html">Home</a>
        <a class="link white" href="../../Introduction.html">Components</a>
      </nav>
    </header>
    <div class="main-content flex-row">
      <aside class="sidebar">
        <h3 class="sidebar-heading">Components</h3>
        <ul class="unstyled">
          <li><a href="../../Introduction.html">Intro</a></li>
          <li><a href="../../components/avatar/avatar.html">Avatar</a></li>
          <li><a href="../../components/alert/alert.html">Alerts</a></li>
          <li><a href="../../components/badges/badges.html">Badges</a></li>
          <li><a href="../../components/button/button.html">Button</a></li>
          <li><a href="../../components/cards/cards.html">Cards</a></li>
          <li><a href="../../components/images/images.html">Images</a></li>
          <li><a href="../../components/input/input.html">Input</a></li>
          <li><a href="../../components/list/list.html">List</a></li>
          <li><a href="../../components/modal/modal.html">Modal</a></li>
          <li>
            <a href="../../components/text-utility/text-utility.html"
              >Utilities</a
            >
          </li>
          <li><a href="../../components/rating/rating.html">Rating</a></li>
          <li><a href="../../components/toast/toast.html">Toast</a></li>
          <li>
            <a href="../../components/navigation/navigation.html">Navigation</a>
          </li>
          <li><a href="../../components/grid/grid.html">Grid</a></li>
        </ul>
      </aside>
      <hr class="vertical-line" />
      <main class="grow-1">
        <h2 class="heading-1">Images</h2>
        <p>
          Images are an integral part of the content strategy of any website.
          The best images are set above the fold and act as both eye candy and
          informational tools. They should relate directly to the text of the
          page, and ideally, they should be original pictures. Stay away from
          stock clichés as much as you can.
        </p>
        <h4 class="heading-3">Example of Responsive Image</h4>
        <div class="container-box m-radius">
          <img
            class="cover-img l-radius"
            src="https://picsum.photos/200"
            srcset="
              https://picsum.photos/400 400w,
              https://picsum.photos/600 600w
            "
            sizes="(min-width: 650px) 200px,
                100px"
          />
        </div>
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=446.25&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=28px&ph=33px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%250A%2520%2520%2520%2520class%253D%2522cover-img%2520l-radius%2522%250A%2520%2520%2520%2520src%253D%2522https%253A%252F%252Fpicsum.photos%252F200%2522%250A%2520%2520%2520%2520srcset%253D%2522%250A%2520%2520%2520%2520%2520%2520https%253A%252F%252Fpicsum.photos%252F400%2520400w%252C%250A%2520%2520%2520%2520%2520%2520https%253A%252F%252Fpicsum.photos%252F600%2520600w%250A%2520%2520%2520%2520%2520%2520%2522%250A%2520%2520%2520%2520sizes%253D%2522%28min-width%253A%2520650px%29%2520200px%252C%250A%2520%2520%2520%2520%2520%2520%2520%2520100px%2522%250A%252F%253E"
          style="
            width: 32rem;
            height: 20rem;
            border: 0;
            transform: scale(1);
            overflow: hidden;
          "
          sandbox="allow-scripts allow-same-origin"
        >
        </iframe>
        <h4 class="heading-3">Example of Round Image</h4>
        <div class="container-box m-radius">
          <img
            class="rounded-circle cover-img"
            src="https://picsum.photos/300?random=2"
          />
        </div>
        <h4 class="heading-3">Usage</h4>
        <ul>
          <li>
            The srcset attribute of the img tag allows us to set responsive
            images that the browser can use depending on the pixel density or
            window width, according to our preferences.
          </li>
          <li>
            <code>rounded-circle</code> class is used to give image border
            radius of 999px.
          </li>
        </ul>
      </main>
    </div>
    <footer class="flex-row footer g-6">
      <div class="footer-content g-1 flex-column grow-1">
        <div class="brand-logo">
          <div class="logo black black-border rounded-circle">P</div>
          <span>Patched</span>
        </div>
        <p>
          Designed and built with love by the patched team to help the community
          create their web apps at 🚀 speed.
        </p>
      </div>
      <div class="flex-column g-1 grow-1">
        <h3>Links</h3>
        <a href="../../index.html">Home</a>
        <a href="../../Introduction.html">Docs</a>
        <a href="../../Introduction.html">Examples</a>
      </div>
      <div class="flex-column g-1 grow-1">
        <h3>Social Media</h3>
        <a class="list" href="https://twitter.com/BajajPaarth">Twitter</a>
        <a class="list" href="https://www.linkedin.com/in/paarth-bajaj/"
          >Linkedin</a
        >
        <a class="list" href="https://github.com/paarthbajaj">Github</a>
      </div>
      <div class="flex-column g-1 grow-1">
        <h3>Community</h3>
        <a href="https://discord.gg/CZJ35CFB">TeamTanay Discord</a>
        <a href="https://tanaypratap.com/">Mentor's website</a>
        <a href="https://neog.camp/handbook/home">The Neog Camp</a>
      </div>
    </footer>
  </body>
</html>
