.h1,
.txt-1 {
  font-size: 2.5rem;
}
.h2,
.txt-2 {
  font-size: 2rem;
}
.h3,
.txt-3 {
  font-size: 1.75rem;
}
.h4,
.txt-4 {
  font-size: 1.5rem;
}
.h5,
.txt-5 {
  font-size: 1.25rem;
}
.h6,
.txt-6 {
  font-size: 1rem;
}
.txt-bold {
  font-weight: 700;
}
.txt-normal {
  font-weight: 400;
}
.txt-light {
  font-weight: 300;
}
.txt-italic {
  font-style: italic;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
.txt-center {
  text-align: center;
}
.txt-justify {
  text-align: justify;
}
