.aside {
  flex-basis: 50%;
}
.main-content {
  margin: 4.5rem 9rem 1.5rem;
  gap: 4rem;
}
.heading-1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.heading-2 {
  margin-bottom: 1rem;
}
.heading-3 {
  font-size: 1.75rem;
  margin-top: 1rem;
}
.heading-4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 2rem 0;
}
.container-box {
  border: 1px solid var(--grey-2);
  padding: 1rem 2rem;
  margin: 1rem 0;
  justify-content: space-evenly;
  min-height: 10vh;
}

.icon-1 {
  color: var(--purple);
  min-width: 4rem;
  min-height: 4rem;
  display: flex !important;
}
.usage-list {
  margin-bottom: 3rem;
}

/* *******************alert******************** */
.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid;
}

.alert-primary {
  color: var(--pri-blue);
  background-color: var(--sky-blue);
  border-color: var(--dark-sky-blue);
}
.alert-danger {
  color: var(--dark-red);
  background-color: var(--dull-pink);
  border-color: var(--darker-pink);
}
.alert-success {
  color: var(--dark-green);
  background-color: var(--light-green);
  border-color: var(--lighter-green);
}
.alert-warning {
  color: var(--mud-yellow);
  background-color: var(--light-mud-yellow);
  border-color: var(--darker-mud-yellow);
}
.alert-dark-mode {
  color: var(--white);
  background-color: var(--black);
  border-color: var(--grey);
}

/* *******************badges****************** */
.badge {
  padding: 0.8rem;
  position: relative;
}
.notify-count {
  font-size: 1.4rem;
  max-width: 1.6em;
  max-height: 1.6em;
  min-width: 1.6em;
  min-height: 1.6em;
  position: absolute;
  top: 0;
  color: var(--white);
}
.notify-count-right {
  background-color: var(--sea-green);
  right: 0;
}
.notify-count-left {
  background-color: var(--red);
  left: 0;
}
.badge-icon {
  font-size: 3.5rem !important;
}
.notify {
  max-width: 1em;
  max-height: 1em;
  min-width: 1em;
  min-height: 1em;
  position: absolute;
  top: 0;
}
.badge-avatar {
  position: relative;
}

/* *******************buttons****************** */
.btn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.btn-primary {
  color: var(--white);
  background-color: #0f6fff;
  border-color: #0f6fff;
}
.btn-secondary {
  color: var(--black);
  border-color: var(--black);
}
.btn-success {
  color: var(--white);
  background-color: #1d8b58;
  border-color: #1d8b58;
}
.btn-danger {
  color: var(--white);
  background-color: #df3344;
  border-color: #df3344;
}
.btn-dis {
  pointer-events: none;
  opacity: 0.6;
}

/* ***************cards*************** */
.card {
  display: flex;
  flex-direction: column;
  width: 19rem;
  position: relative;
  word-wrap: break-word;
  border: 1px solid var(--grey-2);
  border-radius: 0.3rem;
}
.cover-img {
  object-fit: cover;
}
.card-content {
  padding: 1rem;
}
.card-badge {
  position: absolute;
  background-color: var(--light-yellow);
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  top: 2px;
  left: 2px;
}
.card-button {
  position: absolute;
  background: none;
  border: none;
  opacity: 0.5;
  top: 2px;
  right: 2px;
  font-size: 1.5rem;
  cursor: pointer;
}
.card-text-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
.card-text-only {
  padding: 1rem;
  background-color: var(--grey-2);
}
.img-filter {
  filter: blur(1px);
  opacity: 0.7;
}
.card-horizontal {
  width: 50rem;
  position: relative;
  word-wrap: break-word;
  border: 1px solid var(--grey-2);
  border-radius: 0.3rem;
}
.card-btn {
  margin-top: 3rem;
}
.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}

/* **************input************* */
.error {
  color: var(--red);
  display: none;
  font-size: 0.7rem;
}
.req-input:invalid ~ .error,
.req-pass:invalid ~ .error {
  display: block;
}
.req-input:invalid {
  border-color: var(--red);
}
.req-input:valid {
  border-color: var(--sea-green);
}
.form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  border: 1px solid var(--grey-2);
  border-radius: 0.3rem;
  padding: 3rem 2rem;
}
.form-label {
  margin-top: 1rem;
}
.input {
  border-radius: 0.4rem;
  border: 1px solid var(--grey);
  padding: 0.5rem 0.2rem;
}
.width-1 {
  width: 13rem;
}
.form-btns {
  margin-top: 2rem;
}
.form-heading {
  font-size: 2rem;
}
.req-div {
  min-width: 14.375rem;
}

/* **************text utilities************ */
.h1,
.txt-1 {
  font-size: 2.5rem;
}
.h2,
.txt-2 {
  font-size: 2rem;
}
.h3,
.txt-3 {
  font-size: 1.75rem;
}
.h4,
.txt-4 {
  font-size: 1.5rem;
}
.h5,
.txt-5 {
  font-size: 1.25rem;
}
.h6,
.txt-6 {
  font-size: 1rem;
}
.txt-bold {
  font-weight: 700;
}
.txt-normal {
  font-weight: 400;
}
.txt-light {
  font-weight: 300;
}
.txt-italic {
  font-style: italic;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
.txt-center {
  text-align: center;
}
.txt-justify {
  text-align: justify;
}

/* ************modal************* */
.img-modal {
  width: 30rem;
  border-radius: 5px;
}
.dialog-box {
  z-index: 999;
  display: none;
  background-color: var(--white);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 19rem;
  min-height: 19rem;
  min-width: 25rem;
  max-width: 25rem;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.5) 0rem 0.5rem 1.5rem;
  padding: 0.5rem 0;
}

.header-text {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  padding: 0 1.5rem 0.56rem;
}
.dialog-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  padding: 0 1.5rem 1.25rem;
  color: rgba(0, 0, 0, 0.6);
}
.btn-container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
