@import url(https://patched-ui.netlify.app/components.css);
@import url(https://patched-ui.netlify.app/styles.css);
@import "./components.css";
@import "./styles.css";

.mtb-3-4 {
  margin: 0.75rem 0;
}
.pl-3-4 {
  padding-left: 0.75rem;
}
.mt-5 {
  margin-top: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-1 {
  padding-bottom: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.fw-6 {
  font-weight: 600;
}
.pl-3{
    padding-left: 3rem;
}
.pr-3{
    padding-right: 3rem;
}
.flex-wrap {
  flex-wrap: wrap;
}
.pt-1 {
  padding-top: 1rem;
}
.cursor-pointer {
  cursor: pointer;
}
.justify-between {
  justify-content: space-between;
}
