.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid;
}

.alert-primary {
  color: var(--pri-blue);
  background-color: var(--sky-blue);
  border-color: var(--dark-sky-blue);
}
.alert-danger {
  color: var(--dark-red);
  background-color: var(--dull-pink);
  border-color: var(--darker-pink);
}
.alert-success {
  color: var(--dark-green);
  background-color: var(--light-green);
  border-color: var(--lighter-green);
}
.alert-warning {
  color: var(--mud-yellow);
  background-color: var(--light-mud-yellow);
  border-color: var(--darker-mud-yellow);
}
.alert-dark-mode {
  color: var(--white);
  background-color: var(--black);
  border-color: var(--grey);
}
